<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="only light"> <!-- Enforce light mode -->
    <title>{% block title %}Pro Tri Data{% endblock %}</title>

    <!-- Import Chart.js Library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ STATIC_BASE_URL }}imgs/favicon-128.png">
    
    <!-- Base CSS, force cache bust -->
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}css/base.css">
    <script>
        window.STATIC_BASE_URL = "{{ STATIC_BASE_URL }}";
    </script>
    
    <!-- Page-specific CSS -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Navigation Banner -->
    <header class="site-header">
        <div class="header-container">
            <div class="logo">
                <a href="/">
                    <img src="{{ STATIC_BASE_URL }}imgs/logo-512.webp" alt="Pro Tri Data Logo" class="logo-img">
                    <span class="logo-text">Pro Tri Data</span>
                </a>
            </div>
            <nav class="main-nav">
                <a href="/" class="nav-link{{ ' active' if active_page == 'home' else '' }}">Home</a>
                <a href="/athletes" class="nav-link{{ ' active' if active_page == 'athletes' else '' }}">Athletes</a>
                <a href="/races" class="nav-link{{ ' active' if active_page == 'races' else '' }}">Races</a>
                <a href="/about" class="nav-link{{ ' active' if active_page == 'about' else '' }}">About</a>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="page-container">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-container">
            <p>Results and images provided by <a class="wt-link" href="https://www.triathlon.org/" target="_blank">World Triathlon</a> &copy; PTD is in no way affiliated with World Triathlon.</p>
        </div>
    </footer>
    
    <!-- Page-specific JavaScript -->
    {% block extra_js %}
    {% endblock %}
</body>
</html>
